<p id="notice"><%= notice %></p>

<p>
  <strong>Pessoa:</strong>
  <%= @usuario.pessoa %>
</p>

<p>
  <strong>Login:</strong>
  <%= @usuario.login %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @usuario.senha %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Email recuperacao:</strong>
  <%= @usuario.email_recuperacao %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @usuario.genero %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
